#root {
  width: calc(100% -1rem);
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.modal-activo{
  scale: 1;
  opacity: 1;
  transition: scale, .2s ease-in-out, opacity, .2s ease-in-out;
}

.modal-inactivo{
  scale: 0;
  opacity: 0;
  transition: scale, .2s ease-in-out, opacity, .2s ease-in-out;
}

.conteiner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 50px;
  width: 100vw;
  height: auto;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

.conteiner::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color:  var(--coloresNuevo1);
  border-radius: 10px;
}

.conteiner::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  border-radius: 10px;
}

.conteiner section{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: start;
  align-items: center; 
  width: 100%;
  padding: 20px; 
  box-sizing: border-box;
}
